.footer {
  width: 100%;
  min-height: 48px;
  border-top: 1px solid #eaeaea;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.footer-madeby {
  flex: 1;
  padding-right: 4px;
  text-align: start;
}

.footer-title {
  flex: 1;
  text-align: start;
}

.footer-sourcecode {
  padding-left: 4px;
}
