.map-container {
  position: absolute;
  top: 0;
  bottom: 48px;
  left: 0;
  right: 0;
}

.error-message {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 16px;
  background-color: #f00;
  color: #ffffff;
  z-index: 1;
  padding: 8px;
}
